@import '../../sass/variables';

.container{
    width: 100%;
    background-color: $rojo;
    display: flex;
    align-items: flex-start;
    clip-path: polygon(0% 0%, 0% 100%, 53% 100%,63% 95%, 100% 95%, 100% 0%);
    .inner{
        width: 100%;
        height: 99%;
        background: url(https://images.pexels.com/photos/2007401/pexels-photo-2007401.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
        background-size: cover;
        background-position: right;
        clip-path: polygon(0% 0%, 0% 100%, 52% 100%, 62% 95%, 100% 95%, 100% 0%);
        display: flex;
        justify-content: flex-start;
        .lema{
            width: 80%;
            height: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            margin-top: 2rem;
            margin-left: 1rem;
            h1{
                width: 100%;
                height: fit-content;
                text-align: left;
                color: $rojo;
                margin-bottom: 1.4rem;
                font-size: 1.8rem;
            }
            button{
                width: 50%;
                height: 3rem;
                padding: .5rem 1rem;
                background: $rojo;
                border-style: none;
                border-radius: 25px;
                .target{
                    font-weight: bold;
                    text-decoration: none;
                    color: $blanco;
                    font-size: 1.5;
                }
            }
        }
    }
}

@media screen and(min-width: 700px){
    .container{
        .inner{
            .lema{
                width: 90%;
                justify-content: flex-end;
                align-items: flex-start;
                padding: 4rem 0;
                margin-top: 0;
                margin-left: 3rem;
                h1{
                    width: 90%;
                    margin-bottom: 1.7rem;
                    font-size: 2.4rem;
                    text-shadow: $blanco 1px 1px 99px;
                }
                button{
                    width: 40%;
                    height: 5rem;
                    padding: 1rem;
                    border-radius: 50px;
                    .target{
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}

@media screen and(min-width:1000px){
    .container{
        clip-path: polygon(0% 0%, 0% 100%, 53% 100%,63% 93%, 100% 93%, 100% 0%);
        .inner{
            height: 98.5%;
            background-position: center;
            clip-path: polygon(0% 0%, 0% 100%, 52% 100%, 62% 93%, 100% 93%, 100% 0%);
            .lema{
                width: 50%;
                height: 90%;
                align-items: center;
                justify-content: center;
                padding: 1rem;
                margin-top: 4rem;
                margin-left: 4rem;
                h1{
                    width: 100%;
                    margin-bottom: 1.5rem;
                    font-size: 2.5rem;
                }
                button{
                    width: 35%;
                    height: 5rem;
                    padding: .5rem .5rem;
                    border-radius: 20px;
                }
            }
        }
    }
}